@import "~materialize-css/dist/css/materialize.min.css";


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.btn {
    margin-right: 20px;
}
  main {
    flex: 1 0 auto;
  }

  a:hover i {
    color: #1E88E5 !important;
}

.avatarimg {
    margin: 10px 30px 10px 10px;
    max-width: 150px;
    height: auto;
}
.iconinprofilemenu {
    margin-right: 10px;
}

.authcard button {
    margin-right: 10px;
}
.authcard input {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
.authcard input + label {
    color: #fff;
}
.authcard input:focus + label {
    color: #ffeb3b !important;
}
.authcard input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.iconcolorgreen {
    color: green !important;
}
.iconcolorred {
    color: red !important;
}
.iconcolorblue {
    color: blue !important;
}
.iconcolororange {
    color: orange;
}

.home-icons-block {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
    transition-duration: .9s;
    opacity:0.6;
}

.home-icons-block:hover {
    transition-duration: .8s;
    box-shadow: 0 1px 0 0 #1E88E5;
    opacity: 1;
}

.home-icons-block p {
    color: gray;
}

.npa_filled_in {
    margin-left: 15px;
    padding: 5px;
    padding-top: 10px;
    border: #1E88E5;
    border-width: 1px;
    border-style: groove;
    color:#000;
}

.padding_top {
    padding-top: 10%;
}

.padding_top_5 {
    padding-top: 5%;
}
.margin_top_5 {
    margin-top: 2%;
}
.navbar {
    padding: 0 3.5rem;
}

.preloadcomp {
    display: flex;
    justify-content: center;
    margin: 25% auto;
}

.dropdown-content {
    min-width: 200px;
    top: 65px !important;
}

.dropdown-content a {
    color: #1E88E5 !important;
}

.search-component {
    width: 300px !important;
}

.search-component #search {
    display: unset !important;
    height: auto;

}

.page-footer {
    padding-top: 0 !important;
}

.indicator {
    background-color: #1E88E5 !important;
}

.tabs .tab a {
    color: #039be5;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(120, 174, 245, 0.2);
    color: #1E88E5 !important;
    outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #1E88E5 !important;
}

.table_bidcreator {
    max-width: 100px;
}
.table_bidtime {
    max-width: 100px;
}

.collection .collection-item:hover {
    background-color: rgb(197, 222, 230, 0.5);
}
.reporttabletext {
    font-size: small !important;
}

.mintext {
    font-size: x-small;
}
.invisibleprint {
    display: none;
}

@media print {

    .invisibleprint {
        display: inline;
    }
    body {
        color: #000;
        background: #fff;
    }
    nav, aside {
        display: none;
    }
    table {
        font-size: 10px;
        min-width: 100%;
        max-width: 100%;
    }
    .print-h {
        display: block;
        font-size: medium;
        margin-top: 50px !important;
        margin-bottom: 15px;
    }
    /* .printhead {
        min-width: 100%;
        min-height: 5cm;
        background-image: url("./images/new_logo_rus.png");
        background-repeat: no-repeat;
        background-position: center;
    } */

    .no-print {
        display: none;
    }
    .page-footer {
        display: none;
    }
    .print-div {
        width: 100% !important;
        box-shadow: none !important;
    }
}